h2.logo-text {
    font-size: 24px;
    margin: 0;
    padding: 20px 20px;
}
.logo {
    float: left;
    text-align: right;
    height: 68px;
    background-color: #63c6ae;
    position: relative;
    color: #fff;
}

nav {
    float: left;
    background-color: #fff;
}
nav ul {
    margin: 0;
}
nav ul li {
    list-style: none;
    float: left;
}
nav ul li a {
    display: block;
    padding: 25px 43px 23px 5px;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.02em;
    transition: 0.5s ease;
    
}
nav ul li a:hover {
    text-decoration: none;
    color: #63c6ae;
}
nav ul li a.active {
    color: #63c6ae;
}